div {
    height:100px;
    width:100px;
    background-color: cyan;
    border: dashed black 2px;
    color:blue;
    position:absolute;
    top:150px;
    left:200px;
   /* animation-name: animation;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction:reverse;    /*normal , alternate , alternate-reverse*/
    animation: animation 2s 1s infinite alternate;
}

@keyframes animation {
    from {  left: 0px;
            background-color: yellow;
            transform: scale(1);
         }
    to   {left: 300px;
          background-color: darkgrey;
          transform: scale(2);
          color:crimson;
        }
    }