div {
    height:100px;
    width:100px;
    background-color:blanchedalmond;
    border: 2px dashed black;
    border-radius: 20%;
    text-align: center;
    text-decoration: green underline;
   
    position:absolute ;
    top:100px;
    left: 200px;
    rotate: x 90deg;
}